*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.bg-container{ 
  position: fixed;
  width: 100%;
  height: 100%; 
  background-image: url("./assets/img/cover.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */ 
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;


}

.logo-container{ 
  width: 100%;
  text-align: center;
  padding: 50px 10px; 


}

.email-container{ 
  width: 100%; 
  text-align: center;
  padding: 20px 0;  

}

.email-container h1{
  padding-top: 20px;
  font-weight: 100;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px 2px  #252323;

  
}

.email-container h3{
  font-weight: 100;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 50px;
  text-shadow: 1px 1px 2px  #252323;

  
}

.socila-container{ 
  width: 100%;  
  left: 0 ;
  /* position: fixed;  */
  bottom: 0;
  padding-bottom: 30px; 
  position:absolute;
  bottom:0; 
}

.email-input-container{  
  /* visibility: hidden; */
  display: block;
  border-radius: 100px;
  width: 500px; 
  margin: auto;
  border: 5px solid rgba(255, 255, 255, 0.200);
  

}



.slideOutDown { 
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideOutDown {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% { 
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  }
  }
  @keyframes slideOutDown {
  0% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100% { 
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  }
  } 


  

.success-message-container{ 
  width: 700px; 
  height: 100px;
  margin: auto; 
  background-color: #fff;
  border-radius: 10px;
  display: none;
}

.success-message-container h1{ 
  padding-top: 30px;
 color: #333;
 text-shadow: none;

}

.success-message-container  h3{ 
  color: #888;
  text-shadow: none;
}

.success-message-container p {
  padding: 10px;
}



.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 





.img-check{ 
  float: left;
  padding: 20px;
  vertical-align: middle;
}

.bg-fff{
  width: 100%;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: row;

}
.input-email{ 
  background-color: transparent;
  border-radius: 100px;
  width: 100%;
  font-size: 16px;
  padding: 0 20px; 
   
}

.btn-container{
  background-color: #1FC056;
  color: #fff;
  padding: 20px 50px;
  border-radius: 100px;
  transition: background-color 0.5s ease;
  font-weight: 700;
    
}

.btn-container:hover {
  background-color: #1CAE4E;
}

.socila-container ul {
  list-style-image: none;
  display: flex;
  flex-direction: row;
  margin: auto; 
  justify-content: center;

}

.socila-container ul li{
   
  text-align: center;
  margin: 5px;
  
  

}

.socila-container ul li a {
  padding: 20px 10px;
}

.error-container{
  background-color: #E74C3C;
  width: 30%;
  margin: auto;
  padding: 10px 5px;
  color: #fff;
  border-radius: 50px;
  border:1px solid #CB4335;
}


h1{
  font-size:3vw;
}
h3{
  font-size:2vw;
}



.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 


  

@media only screen and (max-width:590px) {

  h1{
    font-size:6vw;
  }

  h3{
    font-size:4vw;
  }

  
  .email-input-container{
    width: 90%;
  }

  .socila-container{ 
    padding: 20px;

  }
  .success-message-container{ 
    width:95%; 
    margin: auto; 
    background-color: #fff;
    border-radius: 10px;
  }

  .email-container h3{
    padding-bottom: 5px;
  }

  .logo-img-st{
    height: 50px;
  }


  
}